*.*user
/garbage
/build/output
/build/build_tools/windows/.vs
/build/build_tools/windows/x64
/build/build_tools/windows/Debug
/build/build_tools/windows/Release
/build/build_tools/windows/*.hlsl
/build/build_tools/windows/*.hlsl
/build/build_tools/windows/image.bmp
